$extraSmall: 375px;
$small: 600px;
$medium: 960px;
$large: 1264px;
$extraLarge: 1904px;

@mixin respond-to($media) {
  @if $media == apple5 {
    @media only screen and (max-width: $extraSmall - 1) { @content; }
  }
  @if $media == handhelds {
    @media only screen and (max-width: $small - 1) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small){ @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $medium){ @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
  @else if $media == specialMobile {
    @media (max-width: $medium) { @content; }
  }
}

//Variables for text
$headSection: 24px;
$headHeightLineSection: 29px;
$textSection: 16px;
$textHeadLineSection: 20px;
$subheadSection: 16px;
$subheadHeightLineSection: 20px;

//Variables for colors
$primaryColor: #FFB900;
$primaryDarkColor: #034F99;
$primarySurface: #449EF5;
$primaryTextColor: #FFB900;
$secondaryColor: #FFDE73;
$thirdColor: #FF5300;

//Fonts

body{
  overflow: hidden;
}
input:focus {outline: none;}
.header_section_head {
  font-size: 20px;
  text-align: center;
  @include respond-to(large-screens) { font-size: 32px; }
}

.address-text {
  .address-text__header {
    font-size: 20px;
    @include respond-to(medium-screens) {
      font-size: 26px;
    };
  }
  .address-text__item-1 {
    margin: 30px 0;
  }
  p,ul {
    margin: 0;
    margin-bottom: 10px;
    color: #5b5b5b;
    font-size: 16px;
    @include respond-to(medium-screens) {font-size: 20px;};
  }
  .ulAddress {
    list-style-type: none;
    margin-top: -5px;
    padding-left: 15px;
    color: #5b5b5b;
    li:before {
      content: "\●";
      padding-right: 10px;
      color: #ffb900;
    }
  }
  .initial {
    font-size: 50px;
    font-weight: 700;
    line-height: 20px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.someText {
  font-size: 20px;
}

.mxw1200{
  max-width: 1200px;
  margin-left:auto;
  margin-right: auto;
}

//classes for text
.text-bold{font-weight: bold;}

//classes for colors
.primaryColor { color: $primaryColor !important}
.primaryTextColor { color: $primaryTextColor !important}
.secondaryColor { color: $secondaryColor !important}
.thirdColor { color: $thirdColor !important}

//classes for sections
.headSection {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  @include respond-to(large-screens) { text-align: left; }
}
.i-header {
  z-index: 22222;
}

.CheckBoxUp v-input__control{
  display: flex;
  justify-content: center;
  align-items: center;
  .v-input__slot{
    margin-top: 10px;
  }
}
.target-class{
  position: absolute;
  top: -100px;
}
.height100pr {
  height: 100%;
}
.adminTrueNavbar{
  top: 40px;
}
.adminTruePanel{
  // margin-top: 25px;
}
.adminFalse{
  margin-top: 0;
  top: 0;
}
.v-dialog {
  margin-top: 70px;
    ul {
      list-style: none;
      padding: 0 0 0 14px;
      @include respond-to(medium-screens) {
        padding: 0 0 0 25px;
      }
    }
    ul li {
      margin: 8px 0;
      &:before {
        content: "\●";
        padding-right: 10px;
        color: #ffb900;
    }
  }
}
